	<div class="row">
		<div class="search-hero">
			<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; search the notes that you have created">
    </div>
			<table class="table table-hover">

				<thead>
					<tr>
						<th>creation Time</th>
						<th>Notes</th>
					</tr>
				</thead>
				
				<tbody>
					<tr *ngFor="let note of notes | filter:searchText">
						<td>{{note.id}}</td>
						<td>{{note.content}}</td>
					</tr>
				</tbody>
			</table>
		</div>
